  body {
    font-family: 'AvenirNext', sans-serif;
    color: #6a7b8b;
    margin: 0;
    padding: 0;
  }

  
  /*-- Font --*/
  @font-face {
    font-family: AvenirNext;
    src: url(font/AvenirNextLTPro-Regular.otf);
  }
 
  @font-face {
    font-family: AvenirNext;
    src: url(font/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
  }
  h1 {
    color: #5c5b5b;
    margin: 5% 0% 5% 0%;
  }
  .font-size-32 {
    font-size: 32px;
  }
  .font-size-26 {
    font-size: 26px;
  }
  .font-size-24 {
    font-size: 24px;
  }
  .font-size-16 {
    font-size: 16px;
  }
  .no-line-space {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-top-space {
    margin-top: 0;
    padding-top: 0;
  }

  
  /*-- Header --*/
  header {
    background-color: #6a7b8b;
    padding: 1% 0 1% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  /*---- Logo ----*/
  #header-logo {
    padding-left: 3%;
    width: 15%;
  }
  /*---- Navigation bar ----*/
  #header-nav {
    font-family: 'Archivo', sans-serif;
    font-size: medium;
    width: 500px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    padding: 3%;
  }
  li a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }


  /*-- Footer --*/
  footer {
    background-color: #6a7b8b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    margin-top: 3%;
  }
  /*---- Footer logo ----*/
  #footer-logo {
    padding-left: 3%;
    flex-basis: 10%;
  }
  #footer-logo img {
    width: 40%;
  }
  /*---- Footer social ----*/
  #footer-social {
    flex-basis: 80%;
    text-align: center;
  }
  #footer-social img{
    width: 3%;
    margin: 0% 1% 0% 1%;
  }
  #footer-social p {
    color: white;
  }