<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Mr.Coffee's schedule management</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mr. Coffee">
    <meta name="description" content="Mr. Coffee, Coffee shop">
    <meta name="keywords" content="Coffee, Coffee shop, Mr. Coffee" />
    <!-- References to external CSS files -->
    <link href="/static/style/application.css" rel="stylesheet" />
    <link href="/static/style/content.css" rel="stylesheet" />
    <link href="/static/style/responsive.css" rel="stylesheet" />
    <link href="/static/style/form.css" rel="stylesheet" />
    <link href="/static/style/app.css" rel="stylesheet" />
    <!-- References to external font-style -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap" rel="stylesheet">
</head>

<body>

<!-- Header -->
<header>
  <img id="header-logo" src="/static/img/full_logo_white.png" alt="Mr. Coffee logo with the text MR. COFFEE in white color">
  <div id="header-nav">
    <nav>
        <ul>
            <li><a href="/">Check schedule</a></li>
            <li><a href="/new">Add schedule</a></li>
        </ul>
    </nav>
  </div>
</header>